* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 1px solid #999;
}

body{

	font-family: Exo;
/*	color: green;
*/}

.wrapper{

    display:grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 3;


}

header {

    grid-column: 1/5;

    
}

.intro{



}

.prompt{




}



.button{

	cursor:pointer;

}

p{

	font-size: 3rem;

}

.text-container{

	color: grey;
	font-size: 5rem;

}